.form-container{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}

input, select, textarea{
    max-width: 250px;
    width: 100%;
}

#btn-submit{
    max-width: 100px;
}